@charset "UTF-8";
@import url(style_Reset.css);

/* div#headerFrame 시작 */
#headerFrame {
  background-color: #0c2645;
}

#headerFrame header#header {
  width: 1230px;
  height: 110px;
  border: 1px solid #aaa;
  margin: 0 auto;
}

/* div#headerFrame 끝 */

/* div#wrap 시작 */
div#wrap {
  width: 1230px;
  height: 300px; /*임시설정*/
  margin: 0 auto;
}
/* div#wrap 끝 */

/* div#footerFrame 시작 */
div#footerFrame {
  height: 200px; /*임시설정*/
  background-color: #0c2645;
}
/* div#footerFrame 끝 */
